{% extends 'base.html' %}

{% block content %} 
<!-- section 1 start -->
<div class="container text-light text-center shadow">
    <div class="row">
<!-- left column start -->
        <div class="col pt-5 py-5 d-flex justify-content-center">
            <div class="col pt-5 py-5 d-flex align-items-center justify-content-center">
                <a href="/inventory"><button type="button" style="border-radius: 12%; color:white; background-color: rgb(1, 1, 42); border-color: whitesmoke; " class="px-4 py-2">Explore</button></a>
            </div>
            
        </div>
<!-- left column end -->

<!-- right column start -->
        <div class="col-6 d-flex ">
           
            <div class="row d-flex py-5">
                <div class="col-12 d-flex justify-content-end">
                    <br>
                    <img class="col-8"src="../../static/images/home/EV2.jpg" alt="" style="border-radius: 5%";>
                </div>
                <div class="col-12 d-flex justify-content-end pt-3">
                   <img class="col-8"src="../../static/images/home/EV6.jpg" alt="" style="border-radius: 5%";>
                </div>
                
            </div>
            <div class="row pt-5 py-5 px-5">
                <div class="col-12 d-flex justify-content-start pt-5">
                    <img class="col-7"src="../../static/images/home/EV5.jpg" alt="" style="border-radius: 5%";>
                 </div>
                <div class="col-12 d-flex justify-content-start pt-3">
                    <br>
                    <img class="col-10"src="../../static/images/home/Electric.jpg" alt="" style="border-radius: 20%";>
                </div>
            </div>
          
</div>
</div>
<!-- section 1 end -->
<section class="">
 
        
</section>
<!-- carousel start -->


{% endblock %}