{% extends 'base.html' %}

{% block content %}
    <!-- Form content -->
      <main class="container p-5">
        <div class="row">
            <div class="col">
                    <img src="../../static/images/sign in/up/EV1.jpg" class="w-100" style="border-radius: 50%;" alt="...">
                
            </div>
            <div class="col-5 py-5 d-flex justify-content-center">
                <aside >
                    <h2 style="color: white; text-align: center;">Create</h2>
                    <h2 class="pb-4" style="color: white; text-align: center;">Account</h2>
                    {% include 'forms.html' %}
                </aside>
            </div>
        </div>
    </main>
{% endblock %}